<div class="login">
    <div class="row">
        {{#if messages.length }}
        <div class="col s6 offset-s3 ">
            {{#each messages as |message|}}
            <p class="alert">{{message}}</p>
            {{/each}}
        </div>
        {{/if}}


        <div class="col s6 offset-s3  login-tab-header">
            <ul class="tabs">
                <li class="tab col s6 "><a href="#login" class="active">Войти</a></li>
                <li class="tab col s6 "><a href="#registrate">Регестрация</a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3 ">
            <h2>Аутентификация</h2>

            <form action='/auth/login' method="POST">

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <div class="input-field">
                    <input name="email" id="email" type="email" class="validate" required />
                    <label for="email">Почта</label>
                    <span class="helper-text" data-error="Введите электронную почту"></span>
                </div>

                <div class="input-field">
                    <input name="password" id="password" type="password" class="validate" required />
                    <label for="password">Пароль</label>
                    <span class="helper-text" data-error="Введите пароль"></span>
                </div>

                <button class="btn btn-primary">Войти</button>

            </form>


        </div>
        <div id="registrate" class="col s6 offset-s3 ">
            <h2>Регистрация</h2>

            <form action='/auth/registr' method="POST">

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <div class="input-field">
                    <input name="name" id="name_registrate" type="text" class="validate" required />
                    <label for="name_registrate">Ваше имя</label>
                    <span class="helper-text" data-error="Введите Ваше имя"></span>
                </div>

                <div class="input-field">
                    <input name="email" id="email_registrate" type="email" class="validate" required />
                    <label for="email_registrate">Почта</label>
                    <span class="helper-text" data-error="Введите электронную почту"></span>
                </div>

                <div class="input-field">
                    <input name="password" id="password_registrate" type="password" class="validate" required />
                    <label for="password_registrate">Пароль</label>
                    <span class="helper-text" data-error="Введите пароль"></span>
                </div>

                <div class="input-field">
                    <input name="password_comfirm" id="password_comfirm_registrate" type="password" class="validate"
                        required />
                    <label for="password_comfirm_registrate">Повторно пароль</label>
                    <span class="helper-text" data-error="Введите пароль еще раз"></span>
                </div>

                <button class="btn btn-primary">Зарегистрироватья</button>

            </form>
        </div>
    </div>
</div>