<h1>Добавить курс</h1>

<form action='/courses/store' method="POST">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="input-field">
        <input name="title" id="title" type="text" class="validate" required />
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field">
        <textarea name="description" id="description" class="materialize-textarea" required></textarea>
        <label for="description">Описание</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>

    <div class="input-field">
        <input name="price" id="price" type="number" class="validate" required min="2" />
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field">
        <input name="img" id="img" type="text" class="validate" required />
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>

    <button class="btn btn-primary">Добавить</button>

</form>